name: CI
on: push
jobs:
  test:
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12'
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      # Install an ipykernel so it is available for tests
      - run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools ipykernel --upgrade
          python -m ipykernel install --user
      - run: npm ci
      - run: npm test
      - name: Release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
